@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400&display=swap');

*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;
}

#toggleTheme + label .toggleSwitch {
  translate: calc(0px);
  transition: all 0.2s ease;
}

#toggleTheme:checked + label .toggleSwitch {
  translate: calc(36px);
  transition: all 0.2s ease;
}
